name: Flask API CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Get my code
        uses: actions/checkout@v4

      - name: Build the Docker box
        run: docker build -t mindeaseModel .

      - name: Run app + tests
        run: |
          docker run -d -p 5000:5000 --name app mindeaseModel
          docker exec app python test.py
