name: Flask API CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t mindease_model .

      - name: Start container
        run: |
          docker run -d -p 5000:5000 --name mindease_api mindease_model
          # Wait for app to start
          for i in {1..10}; do
            if curl --silent http://localhost:5000; then
              echo "App is up!"
              break
            fi
            echo "Waiting for app..."
            sleep 2
          done

      - name: Run tests inside container
        run: docker exec mindease_api python test.py

      - name: Stop container
        if: always()
        run: |
          docker stop mindease_api
          docker rm mindease_api
 